.jumbotron {
    background: linear-gradient(rgba(142, 142, 142, 0.85), rgba(26, 52, 96, 0.85)), url(../img/background.jpg);
    max-height: 450px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.jumbotron-heading, .jumbotron label {
    color: #ffffff;
    text-shadow: 1px 1px #000000;
}
.jumbotron small {
    color: #F2F2F2;
    opacity: 0.8;
}
.invisible {
    opacity: 0;
}
